*{
    margin: 0;
    padding: 0;
}
.header-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
   
}
.logo-image{
 margin-top: 15px;
    padding-bottom: 15px;
    cursor: pointer;

}
.logo-image:hover{
    opacity: 0.85;
}
.navibar{
    background-color: #6b9ad0;
    height: 54px;
    width: 100%;
}
.mobile-icons{
    display: none;
}
.navibar-mobile-question{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #7ca7d9;
    height: 100%;
    width: 5%;
}
.mobile-buttons{
    display: none;
}
.mobile-settings{
    display: none;
}

.navibar-content{
    height: 54px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: Arial;
    font-size: 16px;
    text-transform: uppercase;
    color: #eee;
}
.navibar-content p{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 4%;
    margin-right: 4%;
    cursor: pointer;
}
.navibar-content p:hover{
    opacity: 0.5;
}


.navibar-shadow{
    height: 4px;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #c6defa;
    justify-content: center;
}
.tablet-markers{
    display: none;
    padding-top: 31px;
    align-content: center;
    padding-left: 4%;
    padding-right: 4%;
   padding-bottom: 31px;
    flex-direction: row;
    width: 92%;
    height: min-content;
}
.ROW1{
     text-align: center;
}
.ROW2{
    padding-left: 6%;
    padding-right: 6%;
     text-align: center;
}
.content{
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    width: 54%;
    padding-left: 23%;
    padding-right: 23%;
    height: 1000px;
}
.main-block{
    display: flex;
    flex-direction: column;
    height: 100%;
   
    width: 68%;

}
.main-block-image img{
    max-width: 100%;
}
.highligting-line{
    height: 0.1px;
    background-color: #c6c9cb;
    opacity: 0.3;
    color: #c6c9cb;
}
.main-block-title{
height: 39px;
display: flex;
flex-direction: row;
font-size: 20px;
 align-items: center;
 color: #69747c;
 font-family: 'Arial Narrow';
}
.main-block-signatures{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 38px;

}
.social-sprites-tablet1, .social-sprites-tablet2{
    display: none;
}
.social-conversion{
    width: min-content;
    display: flex;
    flex-direction: row;
}
.social-conversion-fb,.social-conversion-gplus,.social-conversion-twitter,.social-conversion-vk, .social-conversion-mg{
    max-width: 100%;
    display: flex;
    flex-direction: row;
    margin-left: 6px;
    padding-top: 2px;
    border-radius: 10%;
    height: 100%;
    width: 45px;
    background-color: #d1dae3;
}
.social-conversion-fb:hover,.social-conversion-gplus:hover,.social-conversion-twitter:hover,.social-conversion-vk:hover, .social-conversion-mg:hover{
opacity: 0.5;
cursor: pointer;
}
.social-conversion-fb input,.social-conversion-gplus input,.social-conversion-twitter input,.social-conversion-vk input, .social-conversion-mg input,
.info{
    font-family: Arial;
    color: white;
    background-color:#d1dae3 ;
    margin-left: 15%;
   border: none;
   width: 30%;
}
.info input{
    margin-left: 40px;
    
    border:none;
    background-color: red;
    width: 10px;
}
.main-block-signatures p{
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
    color: #69747c;
    padding-left: 12px;
}
.clock-icon{
    margin-left: 5px;
}
.foot-icon{
    margin-left: 24px;
}
.main-block-text{
    height: 137px;
    margin-top: 16px;
}
.main-block-text p{
    font-family: Arial;
    font-size: 12px;
     color: #69747c;
}
.main-block-loading{
    display: flex;
    flex-direction: row;
    justify-content: center;
     align-items: center;
}
.info-block{
    margin-left: 28px;
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 100%;
}
.section-about p,.section-someinfo p {
padding-top: 19px;
font-family: Arial;
font-size: 12px;
color: #69747c;
}
.section-about img, .section-someinfo img{
    max-width: 100%;
}
.section-someinfo{
    padding-top: 36px;
}
.info-block-markers{
    padding-top: 38px;
}
.info-block-markers img{
    cursor: pointer;
    margin-top: 3px;
     margin-top: 3px;
}
.social-sprites-tablet{
    display: none;
}
.info-block-markers img:hover, .tablet-markers img:hover{
    opacity: 0.5;
    cursor: pointer;
}
 .mobile-socials{
     display: none;
 }
@media screen and (max-width: 992px){
     .social-conversion{
        display: none;
    }
    .header-content{
    padding-left: 20px;
     padding-right: 20px;
    }
    .info-block{
        display: none;
    }
    .tablet-markers{
        display: block;
    }
    .social-sprites-tablet1{
    max-width: 100%;
    position: absolute;
    display: flex;
    align-items: flex-end;
    padding-right: 3px;
    flex-direction: column;
    width: 60px;
    height: 150px;
    right: 0;
}
 .social-sprites-tablet2{
    padding-top: 52%;
    max-width: 100%;
    position: absolute;
    display: flex;
    align-items: flex-end;
    padding-right: 3px;
    flex-direction: column;
    width: 60px;
    height: 850px;
    right: 0;
 }
.tablet-socials-fb{
    display: flex;
    align-items: center;
    flex-direction: row;
     padding-top: 4px;
    width: 50px;
    height: 20px;
    border-radius: 10%;
    background-color: #3c5a98;
}
.tablet-socials-googleplus{
      display: flex;
    align-items: center;
    margin-top: 8px;
    width: 40PX;
    height: 20px;
    border-radius: 10%;
    background-color: #c25234;
}
.tablet-socials-twitter{
     display: flex;
    align-items: center;
    padding-top: 4px;
    margin-top: 8px;
    width: 50px;
    height: 20px;
    border-radius: 10%;
    background-color: #00aced;
}
.tablet-socials-vk{
     display: flex;
    align-items: center;
    padding-top: 4px;
    margin-top: 8px;
    width: 50px;
    height: 20px;
    border-radius: 10%;
    background-color: #48729e;
}
.tablet-socials-people{
     display: flex;
    align-items: center;
     padding-top: 4px;
    margin-top: 8px;
    width: 40px;
    height: 20px;
    border-radius: 10%;
    background-color: #d83933;
}
.social-sprites-tablet1 input,.social-sprites-tablet2 input{
    align-self: end;
   margin-left: 10px;
    width: 5px;
    background-color: rgba(0, 0, 0, 0);
    border:none;
    color: white;
    font-family: Arial;
}
    .content{
    padding-top: 0px;
    justify-content: center;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    }
    .main-block{
        width:100%;
        align-items: center;
    }
    .main-block-title, .main-block-signatures{
        width:100%;
        justify-content: flex-start;
    }
}
@media screen and (max-width: 440px){
    .navibar-content{
        justify-content: unset;
    }
    .mobile-buttons{
        padding-bottom: 1%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 70%;
    }
    .mobile-buttons-question{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1%;
        height: 96%;
        width: 15%;
        background-color: #7ca7d9;
    }
    .mobile-buttons-response{
        display: flex;
        justify-content: center;
        align-items: center;
         margin: 1%;
         height: 96%;
        width: 15%;
        background-color: #7ca7d9;
    }
    .mobile-buttons-shortcut{
        display: flex;
        justify-content: center;
        align-items: center;
         margin: 1%;
         height: 96%;
        width: 15%;
        background-color: #7ca7d9;
    }
    .mobile-buttons-question:hover, .mobile-buttons-response:hover, .mobile-buttons-shortcut:hover,.mobile-settings:hover{
        cursor: pointer;
        opacity: 0.5;
    }
    .mobile-settings{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        padding-right: 11px;
        width: 30%; 

    }
   .mobile-socials{
      padding-top: 5%;
      padding-bottom: 10%;
       display: flex;
       flex-direction: row;
       width: min-content;
   }
    .header{
        width: 100%;
    }
    
.header-content img{
    max-width: 100%;
}
.navibar-content p{
    display: none;
}
.tablet-markers{
    display: none;
}
.mobile-social-fb{
    display: flex;
    align-items: center;
     margin-left: 5px;
     margin-left: 5px;
    margin-right: 5px;
    width: 50px;
    height: 24px;
    background-color: #3c5a98;
    border-radius: 10%;
}
.mobile-social-googleplus{
     display: flex;
    align-items: center;
    margin-right: 5px;
    width: 50px;
    height: 24px;
    background-color: #c25234;
    border-radius: 10%;
}
.mobile-social-twitter{
     display: flex;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
    width: 50px;
    height: 24px;
    background-color: #00aced;
    border-radius: 10%;
}
.mobile-social-vk{
     display: flex;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
    width: 50px;
    height: 24px;
    background-color: #48729e;
    border-radius: 10%;
}
.mobile-social-yandexpeople{
    display: flex;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
    width: 50px;
    height: 24px;
    background-color: #d83933;
    border-radius: 10%;
}
.mobile-socials input{
    width: 5px;
    margin-left: 15px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: white;
    font-family: Arial;

}
.content{
    width: 92%;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 4%;
}
.main-block-title{
    height: min-content;
}

.main-block-title{
    text-align: center;
    padding-top: 13px;
    padding-bottom: 13px;
    width: 68%;
    padding-left: 16%;
     padding-right: 16%;
    background-color: #f4f5f6;
    display: flex;
    justify-content: center;
}
.main-block-signatures{
    text-align: center;
    justify-content: center;
}
.main-block-text{
    height: min-content;
   
}
.social-sprites-tablet1,.social-sprites-tablet2{
display: none;
}
}